{% extends 'base.html' %}

{% block content %}
<h1>Популярные курсы</h1>
<div class="courses-container">
    <div class="course">
        <h2>Курс по Python</h2>
        <p>Описание курса по изучению Python.</p>
    </div>
    <div class="course">
        <h2>Курс по веб-разработке</h2>
        <p>Описание курса по веб-разработке.</p>
    </div>
    <div class="course">
        <h2>Курс по мобильной разработке</h2>
        <p>Описание курса по разработке мобильных приложений.</p>
    </div>
</div>
{% endblock %}