{% extends 'base.html' %} 
{% block content %}

<div class="textdef">
  <h1>Добро пожаловать! 'не обман честно честно'</h1>
  <p>Здесь вы найдете самые качественные курсы по программированию.</p>
  <p>Выберите интересующий вас скам:</p>
</div>
<ul class="def">
  <li><a href="/courses"><img src='/static/img/d95dced26825492fb0e09a63ce021575.png' alt="Курсы"></a></li>
  <li><a href="/news"><img src='static/img/новости.jpg' alt="Новости"></a></li>
  <li><a href="/contact"><img src='static/img/image.png' alt="Контакты"></a></li>
</ul>

{% endblock %}