{% extends 'base.html' %}

{% block content %}
<div class="news-page">
    <h1>Последние новости</h1>
    <ul class="news-list">
        <li class="news-item">
            <h2>Запуск новых курсов VanjaWho!</h2>
            <p>В современном мире, где технологии развиваются буквально на глазах, знание программирования становится одним из краеугольных камней успеха. Понимая эту потребность, с радостью представляем новый курс по программированию под названием "vanjawho".

                Курс "vanjawho" открывает уникальную возможность любому желающему освоить навыки, необходимые для разработки современного программного обеспечения. Созданный опытными разработчиками и образовательными экспертами, этот курс поможет учащимся не только изучить основы и принципы программирования, но и применить их на практике.
                
                С самого начала курс "vanjawho" погружает студентов в мир кода — от простых конструкций до сложных алгоритмов. Изучение начинается с основ языков программирования, таких как Python, Java и JavaScript, которые являются одними из самых востребованных в индустрии программирования сегодня. Студенты будут проходить постепенное обучение, где каждый уровень повышает сложность и углубляет понимание.
                
                В программу курса включен обширный набор практических заданий, проектных работ и реальных кейсов, которые обеспечат превосходное практическое владение технологиями. Учащиеся будут разрабатывать собственные приложения, сайты и даже игры, что позволит им набрать портфолио уже к моменту окончания курса.
                
                Мы понимаем, что обучение должно быть гибким, чтобы соответствовать занятому расписанию современных людей, поэтому курс "vanjawho" разработан таким образом, чтобы его можно было пройти в удобном ритме. Будь то ранние утренние часы или поздние вечера, материалы курса доступны онлайн 24/7.
                
                Кроме того, мы создали сообщество вокруг курса, чтобы студенты могли общаться, обмениваться знаниями и поддерживать друг друга. Ведь программирование - это не только про код, но и про людей, умеющих работать в команде и помогающих друг другу расти.
                
                Курс "vanjawho" это не просто обучение, это инвестиции в ваше будущее, открывающие двери в высокооплачиваемые и перспективные сферы работы. Мы приглашаем вас начать это увлекательное путешествие в мир программирования вместе с "vanjawho" и положить начало карьере, которая меняет мир к лучшему. Добро пожаловать на борт!</p>
        </li>
        
        <!-- Добавьте аналогичный класс для остальных элементов списка -->
    </ul>
</div>
{% endblock %}